@import url('https://fonts.cdnfonts.com/css/fredoka-one');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #2CB673;
}

body {
  max-height: 100vh;
}

.heading {
  font-family: 'Fredoka One', sans-serif;
  color: var(--accent-color);
  font-size: clamp(5rem, 10vw, 2rem); 
  text-align: center;
  margin-top: 2em;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

form input {
  padding-block: 10px;
  padding-inline: 10px;
  width: 300px;
  border-radius: 8px;
  border: solid rgb(187, 187, 187) 2px;
}

form button {
  background-color: #2CB673;
  border: 0;
  margin: 4px 4px 4px -83px;
  padding-inline: 20px;
  border-radius: 6px;
  font-family: 'Fredoka One', sans-serif;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

ul {
  text-align: center;
  margin-top: 40px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 900;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul section {
  max-height: 300px;
  overflow-y: scroll;
  min-width: 300px;
}

ul li {
  font-size: .9em;
}

.color-accent {
  color: var(--accent-color);
}

.light-green {
  background-color: #2cb67381;
  pointer-events: none;
}

.invalid {
  color: red;
  border: red;
  background-color: red;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--accent-color);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-family: sans-serif;
}

.github {
  position: absolute;
  left: 5px;
  bottom: 3px;
  cursor: pointer;
  transition: all .4s;
}

.github:hover {
  fill: #007c40;
  transition: all .4s;
}

.dark {
  background-color: #111111;
  height: 100vh;
}

.dark form input {
  background-color: #111111;
  color: #fff;
  border: solid rgb(83, 83, 83) 2px;
}

.theme-button {
  border: none;
  background-color: #fff;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  transition: background-color .2s;
  border-radius: 5px;
}

.theme-button:hover,
.dark .theme-button:hover {
  background-color: rgba(158, 158, 158, 0.233);
  transition: background-color .2s;
}

.dark .theme-button {
  background-color: #111111;
  border: none;
  color: #fff;
}

@media (max-width: 550px) {
  .heading {
    font-size: clamp(3rem, 10vw, 2rem); 
    margin-top: 4em;
  }
}